<div class="container main-content content_index">

  <% @videos.each do |video| %>

    <table class="table borderless">
      <tbody>
        <tr>

          <td width="45%">
            <%= image_tag(video.path_url(:screenshot).to_s, class: "img-responsive", alt: "screenshot") %>
          </td>

          <td>
            <h4><%= link_to video.title, video %></h4>
            <%= video.updated_at.to_s.split(" ")[0] + " " + video.updated_at.to_s.split(" ")[1]  %>
          </td>

        </tr>
      </tbody>
    </table>
  <% end %>

</div>
