body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin-top: 50px;
}

.main-content {
  padding: 16px;
}

.borderless tr, .borderless td{
  border: none !important;
}

.video_content {
  position: relative;
  padding-top: 69px;
  padding-bottom: 35%;
  overflow: hidden;
}

.video_content video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
